@charset "UTF-8";

/* Fonte - font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');

body {
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  

    
}

header {
    padding: 16px 0;

    display: flex;
    

    justify-content: space-evenly;

    justify-items: center;

    background: linear-gradient(to top,#f7e6be, #f3d094c7);
}

nav {
    

    display: flex;

    align-items: center;
}

nav > ul {
    padding-left: 0;

    margin: 0;

    list-style: none;

    display: flex;

    gap: 26px;

}

nav a {
    text-decoration: none;

    font-family: 'Kanit', sans-serif;
    font-weight: 400;

    color: black;
}

img {
    width: 52px;
}

.search {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }

/*begin main */

main {
    
}

section#item1 {
    background-color: #f8c09b;

    height: 520px;

    margin: 15px 20px;

    padding: 16px;

    border-radius: 25px;

    display: flex;
    
}

section#item1 h3 {
    margin-top: 0px;
}

div#imagem1 img {
    width: 350px;
}

div#button > input {
    width: 170px;
    height: 40px;

    outline: none;

    border: none;

    border-radius: 30px;

    background-color: #fc5d54;

    font-family: 'Kanit' sans-serif;

    font-weight: 500;
}

section#item1 > aside {
    width: 200px;
}
   
   
   
   
   
   